/* Estilos principais para o aplicativo "E o tempo?" */

@import url('tailwindcss.css');

body {
  font-family: monospace;
}

/* Adicionando o agrupamento de classes para maior legibilidade no HTML */
.nav-chip {
  white-space: nowrap;
  background-color: #c7d2fe; /* bg-indigo-200 */
  padding: 0.125rem; /* p-0.5 */
}
